<div class="easyui-layout options-window" data-options="fit:true">
    <div data-options="region:'center',fit:true">
        <table class="form-table">
            <tr valign="top">
                <th>Bottom Left View</th>
                <td>
                    <select class="options-cb" id="options-passes-view-bottomleft">
                        <option value="3d">3D View</option>
                        <option value="polar">Polar View</option>
                        <option value="sky">Sky View</option>
                        <option value="azel">Az/El View</option>
                    </select>
                </td>
            </tr>                          
            <tr valign="top">
                <th>Bottom Right View</th>
                <td>
                    <select class="options-cb" id="options-passes-view-bottomright">
                        <option value="3d">3D View</option>
                        <option value="polar">Polar View</option>
                        <option value="sky">Sky View</option>
                        <option value="azel">Az/El View</option>                                               
                    </select>
                </td>
            </tr>                          
        </table> 
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0px 10px 0px;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-save'" href="javascript:void(0)" onclick="javascript:alert('ok')">Ok</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:alert('cancel')">Cancel</a>
    </div>
</div>